<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>


    </style>
</head>
<body>
<h1>Foxtrot</h1>
    <div id="character">
        <input id="character" type="text" v-model="newCharacter" placeholder="Character name">
        <button v-on:click="enterCharacter(newCharacter)">Enter</button>

        <section v-if="errored">
            <p>Something's not working...</p>
        </section>
        <section v-else>
            <div
                v-for="date in info"
                class="render_comic"
            >
                <p v-html=renderComic(date)></p>
            </div>
        </section>
    </div>

<div id="date">
    <input id="date" type="text" v-model.lazy="dateSearch" placeholder="YYYY-MM-DD">
    <button v-on:click="enterDate(dateSearch)">Enter</button>
    <section v-if="errored">
        <p>Something's not working...</p>
    </section>
    <section v-else>
        <div v-if="waiting"></div>
        <p v-else-if="responseStatus !== 200">No comics match the search.</p>
        <div v-else
             id="comic_for_date"
        >
            <p v-html="renderComic(dateSearch)" v-on:click="alert(meow)"></p>
            <h2>The characters for this date are:</h2>
            <ul v-for="character in info">
                <li>{{ character }}</li>
            </ul>
        </div>
    </section>
</div>



<div id="search">
        <input id="search" type="text" v-model="searchTerm" placeholder="Try 'Skeeter Falls'">
        <button v-on:click="search(searchTerm)">Search</button>

        <section v-if="errored">
            <p>Something's not working...</p>
        </section>
        <section v-else>
            <div
                    v-for="date in info"
                    class="render_comic"
            >
                <p v-html=renderComic(date)></p>
            </div>
        </section>
    </div>
    <script src="character_search.js"></script>
</body>
</html>